{
  "app": {
    "update_frequency": 30,
    "max_request_rate": 5,
    "requests_delay": 3,
    "telegram_api_token": "_api_token_",
    "telegram_chat_id": "@chat_name"
  },
  "providers": [
      {
        "name": "rieltor",
        "base_url": "https://rieltor.ua/flats-sale/",
        "filter": {
                "max_items_to_load": 25,
        "max_images_to_load": 3,
        "locations": [
            "Оболонський": 76,
            "Героїв Дніпра (M)",
            "Мінська (M)",
            "Оболонь (M)",
            "Петрівка (M)",
            "Мінський масив",
            "Вишгородський масив",
            "Пріорка",
            "Куренівка",
            "Пуща-Водиця":,
            "Оболонь":,
            "Подільський",
            "Виноградар",
            "Вітряні Гори",
            "Мостицький масив",
            "Тараса Шевченко (M)",
            "Контрактова площа (M)",
            "Поштова площа (M)",
            "Поділ",
            "Шевченківський",
            "Нивки (M)",
            "Берестейська (M)",
            "Шулявська (M)",
            "Сирець (M)"",
            "Дорогожичі (M)",
            "Лук&#039;янівська (M)",
            "Майдан Незалежності (M)",
            "Театральна (M)",
            "Площа Льва Толстого (M)",
            "Універсітет (M)",
            "Золоті Ворота (M)",
            "Нивки",
            "Кудрявець",
            "Татарка",
            "Солдатська слобідка",
            "Вовчий яр",
            "Лук&#039;янівка",
            "Політехнічний інститут",
            "Площа Перемоги",
            "Соломянський",
            "Вокзальна (M)",
            "Політехнічний інститут (M)",
            "Солом&#039;янка",
            "Чоколівка",
            "Караваєві дачі",
            "Відрадний",
            "Першотравневий",
            "Турецьке Містечко",
            "Аеропорт Жуляни",
            "Новокараваєві дачі",
            "Кадетський Гай",
            "Байкова гора",
            "Монтажник",
            "Протасів яр",
            "Совки",
            "Олександрівська слобідка",
            "Залізничний масив",
            "Голосіївський",
            "Олімпійська (M)",
            "Глушкова Академіка",
            "Либідська (M)",
            "Батиєва Гора",
            "Деміївка",
            "Саперна слобідка",
            "Добрий шлях",
            "Голосіїв",
            "Теремки-2",
            "Теремки-1",
            "Експоцентр України",
            "Іподром",
            "Голосіївський парк",
            "Мишоловка",
            "Пирогів",
            "Корчувате",
            "Чапаєвка",
            "Селище Водників",
            "Новосілки",
            "Деміївська (M)",
            "Голосіївська (M)",
            "Васильківська (M)",
            "Феофанія",
            "Виставковий центр (M)",
            "Видубичі (M)",
            "Печерський",
            "Хрещатик (M)",
            "Палац Спорту (M)",
            "Дніпро (M)",
            "Арсенальна (M)",
            "Кловська (M)",
            "Печерська (M)",
            "Палац Україна (M)",
            "Липки",
            "Бессарабка",
            "Чорна гора",
            "Видубичі",
            "Звіринець",
            "Печерськ",
            "Дружби народів (M)",
            "Деснянський",
            "Лісова (M)",
            "Троєщина",
            "Лісовий масив",
            "Чернігівська  (M)",
            "Дніпровський",
            "Гідропарк (M)",
            "Лівоборежна (M)",
            "Дарниця (M)",
            "Чернігівскька (M)",
            "Русанівка",
            "Березняки",
            "ДВРЗ",
            "Стара Дарниця",
            "Соцмісто",
            "Русанівські сади",
            "Воскресеньский масив",
            "Комсомольський масив",
            "Дарницький",
            "Корольок",
            "Позняки",
            "Харківський масив",
            "Рембаза",
            "Нова Дарниця",
            "Вирлиця (M)",
            "Бориспільська (M)",
            "Бортничі",
            "Осокорки",
            "Славутич (M)",
            "Осокорки (M)",
            "Позняки (M)",
            "Харківська (M)",
            "Нижні сади",
            "Червоний хутір",
            "Червоний хутір (M)",
            "Святошинський",
            "Академмістечко (M)",
            "Біличі",
            "Новобіличі",
            "Житомирська (M)",
            "Авіамістечко",
            "Святошин (M)",
            "Коцюбинське",
            "Берковець",
            "Микільська Борщагівка",
            "Південна Борщагівка",
            "Галагани",
            "Софіївська Борщагівка",
            "Петропавлівська Борщагівка",
            "Жовтневе",
            "Михайлівська Борщагівка",
            "Братська Борщагівка",
        ],
        "price_min": 50000,
        "price_max": 65000,
        "rooms": [2],
        "min_square": 50
        }
      }
  ]
}